<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
    <a class="nav-link " href="{% url 'sims_admin:dashboard' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
    </a>
    </li><!-- End Dashboard Nav -->
  {% if request.user.is_superuser %}
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#componentss-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Class</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="componentss-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'sims_admin:create_class' 'create' 0 %}">
            <i class="bi bi-circle"></i><span>Create Class</span>
          </a>
        </li>
        </li>
        <li>
          <a href="{% url 'sims_admin:list_student_class' 'class' %}">
            <i class="bi bi-circle"></i><span>Manage Class</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Subjects</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'sims_admin:add_subject' %}">
            <i class="bi bi-circle"></i><span>Create Subject</span>
          </a>
        </li>
         <li>
          <a href="{% url 'sims_admin:assign_subject' %}">
            <i class="bi bi-circle"></i><span>Create Subject Combination</span>
          </a>
        </li>
        <li>
          <a href="{% url 'sims_admin:list_subjects' 0 'view' %}">
            <i class="bi bi-circle"></i><span>Manage Subject</span>
          </a>
        </li>
        <li>
          <a href="{% url 'sims_admin:list_subjects_combo' 0 'view' %}">
            <i class="bi bi-circle"></i><span>Manage Subject Combination</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-people"></i><span>Staffs</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'sims_admin:add_staff' %}">
            <i class="bi bi-circle"></i><span>Add Staff</span>
          </a>
        </li>
        <li>
          <a href="{% url 'sims_admin:assign_class' %}">
            <i class="bi bi-circle"></i><span>Assign Class</span>
          </a>
        </li>
        <li>
          <a href="{% url 'sims_admin:list_staffs' %}">
            <i class="bi bi-circle"></i><span>Manage Staff</span>
          </a>
        </li>
      </ul>
    </li><!-- End Staff Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-people"></i><span>Students</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'sims_admin:add_student' %}">
            <i class="bi bi-circle"></i><span>Add Students</span>
          </a>
        </li>
        <li>
          <a href="{% url 'sims_admin:list_student_class' 'manage' %}">
            <i class="bi bi-circle"></i><span>Manage Students</span>
          </a>
        </li>
      </ul>
    </li><!-- End Students Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-people"></i><span>Admins</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'sims_admin:add_admin' %}">
            <i class="bi bi-circle"></i><span>Create Admin</span>
          </a>
        </li>
        <li>
          <a href="{% url 'sims_admin:admin_list' %}">
            <i class="bi bi-circle"></i><span>Manage Admins</span>
          </a>
        </li>
      </ul>
    </li><!-- End of Admins Nav -->
  {% elif request.user.is_staff %}
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Result</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'sims_admin:assigned_class' 'upload' %}">
            <i class="bi bi-circle"></i><span>Upload</span>
          </a>
        </li>
        <li>
          <a href="{% url 'sims_admin:assigned_class' 'view' %}">
            <i class="bi bi-circle"></i><span>View</span>
          </a>
        </li>
      </ul>
    </li><!-- End Staff Nav -->
  {% else %}
  <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Result</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'sims_admin:add_grades' request.user.id 'view' %}">
            <i class="bi bi-circle"></i><span>View Result</span>
          </a>
        </li>
      </ul>
    </li><!-- End Staff Nav -->
  {% endif %}
<li class="nav-heading">Pages</li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'sims_admin:profile' request.user.id %}">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li><!-- End Profile Page Nav -->


    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;">
        <i class="bi-box-arrow-right"></i>
        <span>Sign Out</span>
      </a>
    </li><!-- End Contact Page Nav -->
  </ul>
</aside><!-- End Sidebar-->