{% extends "base.html" %}
{% load static %}
{% block title %} Dashboard{% endblock %}
{% block head %} {% include 'include/auth_head.html' %} {% endblock %}
{% block body %}
  {% include 'include/login_nav.html' %}
  {% include 'include/admin_sidebar.html' %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Create Subject</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'sims_admin:dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Create Subject</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-8 col-md-8 d-flex flex-column align-items-center justify-content-center">

          <div class="card">
            <div class="card-body">
              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Create a Subject</h5>
                <p class="text-center small">Fill the form below to add a subject</p>
                {% include "include/messages.html" %}
              </div>
              <form method="POST" class="row g-3 needs-validation" novalidate>
                {% csrf_token %}
                <div class="col-12">
                  <label for="subject_title" class="form-label">Subject Title</label>
                  {{ form.subject_title }}
                  {% if form.subject_title.errors %}
                    <div class="alert alert-danger mt-2" role="alert">
                      {{ form.subject_title.errors }}
                    </div>
                  {% endif %}
                  <div class="invalid-feedback">Please, enter the subject title!</div>
                </div>

                <div class="col-12">
                  <label for="subject_code" class="form-label">Subject Code</label>
                  {{ form.subject_code }}
                  {% if form.subject_code.errors %}
                    <div class="alert alert-danger mt-2 " role="alert">
                      {{ form.subject_code.errors }}
                    </div>
                  {% endif %}
                  <div class="invalid-feedback">Please enter the subject code</div>
                </div>

                <div class="col-12">
                  <button class="btn btn-primary w-100" name="student" type="submit">Create Subject</button>
                </div>
              </form>
            </div>
          </div>

        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Subject Creation Info</h5>
              <p>Fill the form appropraitely to create a subject</p>
            </div>
          </div>
        </div>
    </section>

  </main><!-- End #main -->


{% include 'include/auth_script.html' %}
{% endblock body %}