{% extends "base.html" %}
{% load static %}
{% block title %} Dashboard{% endblock %}
{% block head %} {% include 'include/auth_head.html' %} {% endblock %}
{% block body %}
  {% include 'include/login_nav.html' %}
  {% include 'include/admin_sidebar.html' %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Create Staff Account</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'sims_admin:dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Create Staff</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-8 col-md-8 d-flex flex-column align-items-center justify-content-center">

          <div class="card">
            <div class="card-body">
              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Create a Staff Account</h5>
                <p class="text-center small">Enter personal details of the staff to create account</p>
                {% include "include/messages.html" %}
              </div>
              <form method="POST" class="row g-3 needs-validation" novalidate>
                {% csrf_token %}
                <div class="col-6">
                  <label for="firstname" class="form-label">Firstname</label>
                  {{ form.firstname }}
                  {% if form.firstname.errors %}
                    <div class="alert alert-danger mt-2" role="alert">
                      {{ form.firstname.errors }}
                    </div>
                  {% endif %}
                  <div class="invalid-feedback">Please, enter your Firstname!</div>
                </div>

                <div class="col-6">
                  <label for="lastname" class="form-label">Lastname</label>
                  {{ form.lastname }}
                  {% if form.lastname.errors %}
                    <div class="alert alert-danger mt-2 " role="alert">
                      {{ form.lastname.errors }}
                    </div>
                  {% endif %}
                  <div class="invalid-feedback">Please enter your Lastname</div>
                </div>

                <div class="col-6">
                  <label for="oname" class="form-label">Othername</label>
                  {{ form.othername }}
                  {% if form.othername.errors %}
                    <div class="alert alert-danger mt-2" role="alert">
                      {{ form.othername.errors }}
                    </div>
                  {% endif %}
                  <div class="invalid-feedback">Please enter your Othername</div>
                </div>

                <div class="col-6">
                  <label for="yourPassword" class="form-label">Password</label>
                  {{ form.password }}
                  {% if form.password.errors %}
                    <div class="alert alert-danger mt-2" role="alert">
                      {{ form.password.errors }}
                    </div>
                  {% endif %}
                  <div class="invalid-feedback">Please enter your password!</div>
                </div>
                <div class="col-6">
                  <label for="yourEmail" class="form-label">Email</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    {{ form.email }}
                    <div class="invalid-feedback">Please enter a valid email.</div>
                  </div>
                  {% if form.email.errors %}
                    <div class="alert alert-danger mt-2" role="alert">
                      {{ form.email.errors }}
                    </div>
                  {% endif %}
                </div>

                <div class="col-6">
                  <label for="staff_phone" class="form-label">Staff phone</label>
                  {{ form1.staff_phone }}
                  {% if form1.staff_phone.errors %}
                    <div class="alert alert-danger mt-2" role="alert">
                      {{ form1.staff_phone.errors }}
                    </div>
                  {% endif %}
                  <div class="invalid-feedback">Please enter your staff_phone</div>
                </div>

                <div class="col-6">
                  <label for="staff_gender" class="form-label">Staff gender</label>
                  {{ form1.staff_gender }}
                  {% if form1.staff_gender.errors %}
                    <div class="alert alert-danger mt-2" role="alert">
                      {{ form1.staff_gender.errors }}
                    </div>
                  {% endif %}
                  <div class="invalid-feedback">Please enter your staff_gender</div>
                </div>

                <div class="col-6">
                  <label for="staff_class" class="form-label">Staff class</label>
                  {{ form1.staff_class }}
                  {% if form1.staff_class.errors %}
                    <div class="alert alert-danger mt-2" role="alert">
                      {{ form1.staff_class.errors }}
                    </div>
                  {% endif %}
                  <div class="invalid-feedback">Please enter your staff_class</div>
                </div>

                <div class="col-6">
                  <label for="staff_role" class="form-label">Staff Role</label>
                  {{ form1.staff_role }}
                  {% if form1.staff_role.errors %}
                    <div class="alert alert-danger mt-2" role="alert">
                      {{ form1.staff_role.errors }}
                    </div>
                  {% endif %}
                  <div class="invalid-feedback">Please enter your staff_role</div>
                </div>

                <div class="col-6">
                  <label for="staff_date_of_birth" class="form-label">Staff DOB</label>
                  {{ form1.staff_date_of_birth }}
                  {% if form1.staff_date_of_birth.errors %}
                    <div class="alert alert-danger mt-2" role="alert">
                      {{ form1.staff_date_of_birth.errors }}
                    </div>
                  {% endif %}
                  <div class="invalid-feedback">Please enter your staff_date_of_birth</div>
                </div>

                <div class="col-12">
                  <button class="btn btn-primary w-100" name="staff" type="submit">Create Account</button>
                </div>
              </form>
            </div>
          </div>

        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Account Creation Info</h5>
              <p>Provide staff with login details (email and password) in other for them to make changes to their profile. default password recommended</p>
            </div>
          </div>

        </div>
    </section>

  </main><!-- End #main -->


{% include 'include/auth_script.html' %}
{% endblock body %}