{% extends "base.html" %}
{% load static %}
{% block title %} Add Grade{% endblock %}
{% block head %} {% include 'include/auth_head.html' %} {% endblock %}
{% block body %}
  {% include 'include/login_nav.html' %}
  {% include 'include/admin_sidebar.html' %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>{{ mode }} Student: {{user.student_acct.firstname}} {{user.student_acct.lastname}} --: Grades</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'sims_admin:dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">{{ mode }} Grade</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-8 col-md-8 d-flex flex-column align-items-center justify-content-center">

          <div class="card">
            <div class="card-body">
              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">{{ mode }} a Subject Grades</h5>
                <p class="text-center small">Fill the form below to {{ mode }} a subject grade</p>
                {% include "include/messages.html" %}
              </div>
              <form method="POST" class="row g-3 needs-validation" novalidate>
                {% csrf_token %}
                <div class="col-12">
                  <label for="select_subject" class="form-label">Subject Title</label>
                  {{ form.select_subject }}
                  {% if form.select_subject.errors %}
                    <div class="alert alert-danger mt-2" role="alert">
                      {{ form.select_subject.errors }}
                    </div>
                  {% endif %}
                  <div class="invalid-feedback">Please, enter the subject title!</div>
                </div>

                <div class="col-6">
                  <label for="student_ca1" class="form-label">1st CA</label>
                  {{ form.student_ca1 }}
                  {% if form.student_ca1.errors %}
                    <div class="alert alert-danger mt-2 " role="alert">
                      {{ form.student_ca1.errors }}
                    </div>
                  {% endif %}
                  <div class="invalid-feedback">Please enter the student_ca1</div>
                </div>

                <div class="col-6">
                  <label for="student_ca2" class="form-label">2nd CA</label>
                  {{ form.student_ca2 }}
                  {% if form.student_ca2.errors %}
                    <div class="alert alert-danger mt-2 " role="alert">
                      {{ form.student_ca2.errors }}
                    </div>
                  {% endif %}
                  <div class="invalid-feedback">Please enter the student_ca2</div>
                </div>

                <div class="col-6">
                  <label for="student_ca3" class="form-label">3rd CA</label>
                  {{ form.student_ca3 }}
                  {% if form.student_ca3.errors %}
                    <div class="alert alert-danger mt-2 " role="alert">
                      {{ form.student_ca3.errors }}
                    </div>
                  {% endif %}
                  <div class="invalid-feedback">Please enter the student_ca3</div>
                </div>

                <div class="col-6">
                  <label for="student_exam" class="form-label">Exam</label>
                  {{ form.student_exam }}
                  {% if form.student_exam.errors %}
                    <div class="alert alert-danger mt-2 " role="alert">
                      {{ form.student_exam.errors }}
                    </div>
                  {% endif %}
                  <div class="invalid-feedback">Please enter the student_exam</div>
                </div>

                <div class="col-12">
                  <button class="btn btn-primary w-100" name="student" type="submit">{{ mode }} Grades</button>
                </div>
              </form>
            </div>
          </div>

        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Grades {{ mode }}ing Info</h5>
              <p>Fill the form appropriately to {{ mode }} a grades for a particular subject</p>
            </div>
          </div>
        </div>
    </section>

  </main><!-- End #main -->


{% include 'include/auth_script.html' %}
{% endblock body %}